{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Welcome, {{ user.name }}</h1>
    <form method="post" action="/update_dashboard/{{ user.id }}">
        <input type="text" name="user_id_form" value="{{ user.user_id }}" placeholder="User ID" required />
        <input type="text" name="name" value="{{ user.name }}" placeholder="Full Name" required />
        <input type="password" name="password" value="{{ user.password }}" placeholder="Password" required />
        
        <label for="course_interest">Course Preferences (comma-separated):</label>
<input type="text" name="course_interest" id="course_interest" class="form-control"
       value="{{ user.preferences }}">

        <button type="submit">Update</button>
    </form>
{% endblock %}
